/* PHASE 1: Header */

body {
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;

}


.navs {
    height: 60px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.list{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    margin-right: 10px;
    width: 50%;
    text-decoration: none;
    color: black;
    height: 100%;
    align-items: center;
   
}

.logo {
    margin-left: 20px;
    font-weight: bold;
}

li:hover {
    background: black;
}

/* .list:hover  {
    background-color:black
} */

a {
    text-decoration: none;
    border-bottom: none;
    /* background-color: red; */
    color:white;
    /* height: 100%; */
}
/* .list > li:hover {
    background: black;
} */

li {
    /* padding: 22px; */
    height: 00%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.badge {
    display: inline;
    background:black;
    border-radius: 50%;
    /* width: 10px;
    height: 10px; */

    padding: 1px 6px;

    
}

li:hover .badge {
    background-color: red;
}


.header-notifications {
    display: none;
    /* width: 500px; */
    position: absolute;
    margin-top: 168px;
    color: black;
    
}

.noti:hover .header-notifications {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* position: absolute; */
}

.header {
    position: fixed;
    width: 100%;
}

.header-notifications li {
    height: 100%;
    background-color:white ;
    padding: 10px;
    
}

.header-notifications li:hover {
    background-color: black;
}

.noti {
    height: 100%;
}

